html, body {
	background-color: black !important;
}

label {
	margin-top: 16px;
}

p {
	color: #777;
}

.settings-shown > span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transform-origin: 3px 19px;
}

.btn:focus {
	box-shadow: none !important;
}

.slider {
	margin: 28px 40px;
}

#connectingOverlay {
	opacity: 1;
	background: black;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	position: fixed;
	padding-top: 160px;
	text-align: center;
}

#wrapper {
	margin: auto;
	padding: 20px;
	max-width: 450px;
}

#animationButtons {
	text-align: center;
	margin-top: 20px;
}

#animationButtons button {
	margin: 6px;
	padding: 10px 15px;
	transition: none !important;
}

body .cp-disp {
	display: none;
}

body .cp-xy-slider {
	width: 230px;
	height: 230px;
	z-index: 9999;
}

body .cp-xy-cursor {
	width: 16px;
	height: 16px;
	border-width: 2px;
	margin: -8px;
	z-index: 9999;
}

body .cp-z-slider {
	height: 230px;
	width: 40px;
	z-index: 9999;
}

body .cp-z-cursor {
	border-width: 8px;
	margin-top: -8px;
	z-index: 9999;
}

body .cp-alpha {
	display: none;
}

body .cp-color-picker {
	z-index: 9999;
	background-color: #222;
}

body .noUi-target {
	background-color: #222;
	box-shadow: none;
	border-width: 0px;
}

body .noUi-handle:after, body .noUi-handle:before {
	display: none;
}

body .noUi-horizontal .noUi-handle {
	width: 80px;
	left: -40px;
	padding-top: 3px;
	text-align: center;
}

body .noUi-handle {
	background-color: #464545;
	box-shadow: none;
	border-width: 0px;
	cursor: pointer;
}

body .noUi-active {
	box-shadow: none;
}

body .custom-select {
	background-color: #222;
	color: white;
}

body .custom-select[readonly] {
	background-color: #222;
	color: #585858;
}

body .custom-select[disabled] {
	background-color: #222;
}

body input, body textarea {
	background-color: #222 !important;
	color: white !important;
}

body .input-group {
	background-color: #464545;
	border-radius: 4px;
}

body .input-group-addon {
	padding: 0px 10px;
	margin: auto;
}

body .form-control {
	border-width: 0px !important;
}

body .clockpicker-popover .popover-title, body .clockpicker-popover .popover-content {
	background: none;
}

body .clockpicker-plate {
	background-color: #222222;
	border: 1px solid #464545;
}

.custom-control-label::before {
	background-color: #222;
}