html, body
{
	height: 100%;
	background-color: black !important;
}

label
{
	margin-top: 16px;
}

button
{
	outline: none !important;
}

.speed_slider, .saturation_slider
{
	margin: 28px 40px;
}

#connectingOverlay
{
	opacity: 1;
	background: black;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	position: fixed;
	padding-top: 160px;
	text-align: center;
}

#wrapper
{
	margin: auto;
	padding: 20px;
	max-width: 450px;
}

#accordion .panel-default
{
	margin-bottom: 20px;
}

#accordion .panel-body
{
	padding-top: 0px;
}

#accordion .panel-heading
{
	cursor: pointer;
}

#animationButtons
{
	text-align: center;
	margin-top: 20px;
}

#animationButtons button
{
	margin: 6px;
}

body .cp-disp
{
	display: none;
}

body .cp-xy-slider
{
	width: 230px;
	height: 230px;
	z-index: 9999;
}

body .cp-xy-cursor
{
	width: 16px;
	height: 16px;
	border-width: 2px;
	margin: -8px;
	z-index: 9999;
}

body .cp-z-slider
{
	height: 230px;
	width: 40px;
	z-index: 9999;
}

body .cp-z-cursor
{
	border-width: 8px;
	margin-top: -8px;
	z-index: 9999;
}

body .cp-alpha
{
	display: none;
}

body .cp-color-picker
{
	z-index: 9999;
}

body .noUi-target
{
  background-color: #222;
  box-shadow: none;
  border-width: 0px;
}

body .noUi-handle:after, body .noUi-handle:before
{
  display: none;
}

body .noUi-horizontal .noUi-handle
{
  width: 80px;
  left: -40px;
  padding-top: 3px;
  text-align: center;
}

body .noUi-handle
{
  background-color: #464545;
  box-shadow: none;
  border-width: 0px;
}

body .noUi-active
{
  box-shadow: none;
}

body .form-control
{
	background-color: #222;
	color: white;
}

body .form-control[readonly]
{
	background-color: #222;
	color: #585858;
}

body input, body textarea
{
    background-color: #151515;
    color: white;
}

body .form-control
{
	background-color: #222;
	color: white;
}

body .clockpicker-popover .popover-title,
body .clockpicker-popover .popover-content
{
	background: none;
}

body .clockpicker-plate
{
	background-color: #222222;
	border: 1px solid #464545;
}

.switch
{
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;
    display: block;
    width: 47px;
    height: 26px;
}

.switch input
{
	display:none;
}

.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider
{
	background-color: #375a7f;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #375a7f;
}

input:checked + .slider:before
{
	-webkit-transform: translateX(21px);
	-ms-transform: translateX(21px);
	transform: translateX(21px);
}

.slider.round
{
	border-radius: 34px;
}

.slider.round:before
{
	border-radius: 50%;
}